name: CI

on:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
      - name: Cache Rust
        uses: Swatinem/rust-cache@v2
      - name: Run tests
        run: source bin/activate-hermit && just test
      - name: Build extern demo
        run: source bin/activate-hermit && just extern-demo-build
      - name: Run extern demo
        run: source bin/activate-hermit && just extern-demo-run
